<h2><%= @user.login %> <small>@GitHub</small></h2>
<p>Followers <span><%= @user.followers %></span></p>
<p>Following <span><%= @user.following %></span></p>
<p>Public Repos <span><%= @user.public_repos %></span></p>
<p>Public Gists <span><%= @user.public_gists %></span></p>
<% if @notifications %>
<p>Notifications <span><%= @notifications %></span></p>
<% end %>